<div class="headerTable">
  <h1>Listes des Semestres</h1>
  <div class="ajout">
    <button mat-stroked-button color="primary" class="btnAdd" [routerLink]="['/back-office/semestre']">
      Ajouter un semestre
    </button>
  </div>
</div>

<div class="table-container">
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 modern-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="header-cell">
          <span class="header-content">
            <span class="header-icon">🎯</span>
            Semestre
          </span>
        </th>
        <td mat-cell *matCellDef="let element" class="semestre-cell">
          <span class="semestre-name">{{ element.name }}</span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="idSchool">
        <th mat-header-cell *matHeaderCellDef class="header-cell">
          <span class="header-content">
            <span class="header-icon">🎓</span>
            Année Scolaire
          </span>
        </th>
        <td mat-cell *matCellDef="let element" class="year-cell">
          <span class="year-badge">{{ element.annee_scolaire || element.idSchool }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="header-cell header-actions-cell">
          <span class="header-content">
            <span class="header-icon">⚙️</span>
            Actions
          </span>
        </th>
        <td mat-cell *matCellDef="let element" class="actions-cell">
          <button mat-icon-button 
                  class="re-enroll-btn" 
                  (click)="openReinscriptionDialog(element)" 
                  matTooltip="Réinscrire dans une autre année" 
                  style="color: #3b82f6;">
            <mat-icon>content_copy</mat-icon>
          </button>
          <button mat-icon-button 
                  color="primary" 
                  (click)="deleteElement(element.idSem)"
                  class="delete-btn"
                  matTooltip="Supprimer ce semestre">
            <mat-icon class="delete-icon">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="data-row"></tr>
    </table>
  </div>
  
  <div class="paginator-wrapper">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="modern-paginator"></mat-paginator>
  </div>
</div>
  